@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gowun+Batang:wght@400;700&display=swap');

body {
  font-family: 'Gowun Batang', serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
